:root {
  --swiper-navigation-color: #503291;
  --swiper-pagination-color: #503291;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

li {
  list-style-type: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

  font-family: "Lato", sans-serif;
  min-width: 250px;
  min-height: 400px;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  color: $color-primary;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
p {
  color: $color-text-grey;
  font-size: 1.7rem;
}
.primary-heading {
  color: $color-ternary;
  font-weight: 600;
  font-size: 1.5rem;
}
a,
a:link,
a:active {
  text-decoration: none;
  color: $color-primary;

  cursor: pointer;
}
button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.skills {
  margin: 2rem 0;
}

//mediaqueries
@media screen and (max-width: 315px) {
  html {
    font-size: 40%;
  }
  .grid {
    gap: 5px;
  }
}
@media screen and (max-width: 460px) {
  html {
    font-size: 50%;
  }
  .grid {
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  body {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
}
@media screen and (max-width: 1028px) {
}
@media screen and (max-width: 1258px) {
}
