.about {
  margin-top: 8rem;
  // margin-bottom: 20rem;

  .about-content {
    grid-column: 1/13;
    // justify-items: start;
    & .primary-heading {
      grid-column: 2/12;
      
    }
    & .about-main{
        grid-column: 2/12;
        margin-top: 3rem;
        // justify-self: start;
      
       
        // text-align: start;
    }
    & h2 {
      grid-column: 2/12;
      // justify-self: start;
    }
    & .techs{
        margin-top: 5rem;
        grid-column: 2/12;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3,max-content);
        justify-items: center;
        color: $color-text-grey;
        & p{
            grid-column: 1/9;
            margin-bottom: 2rem;
        }
        & span{
            color: $color-primary;
            margin-right: 1rem;
        }
        & .recent-tech-left{
            grid-column: 1/5;
            // justify-self: center;
            & li{
                margin-bottom: 1.5rem;
            }
                
        
        }
        & .recent-tech-right{
            grid-column: 5/9;
            // justify-self: center;
            & li{
                margin-bottom: 1.5rem;
            }
        }
    }
    & .download-resume {
      grid-column:2/12;
      justify-self: center;
      margin-top: 2rem;
     
      & .btn-yellow{
        width: max-content;
        padding: .7rem 2.5rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4rem;
        transition: background-color .2s linear;
        // box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
        &:hover{
          background-color:$color-secondary-hover;
        }
      
        .img-container{
          background-color: $color-primary;
          width: 4rem;
          border-radius: 50%;
          height: 4rem;
          display: grid;
          place-content: center;
          margin-right:18px;
          & img{
            width: 25px;
            margin-top: .2rem;
          }
        }
       
      }
      
    }
  }
}

@media screen and (max-width: 410px) 
{
  .about {
   
    
    .about-content {
      grid-column: 1/13;
      
      // justify-items: end;
    
 
      & .techs{
        grid-template-rows: max-content 1fr 1fr;
        justify-items: start;
        
          & .recent-tech-left{
              grid-column: 1/13;
              grid-row: 2/3;
         
              
          
          }
          & .recent-tech-right{
              grid-column: 1/13;
              grid-row: 3/4;
             
            
          }
      }

    }
  }
  
}