.header {
  min-height: 15rem;
  height: 30vh;
  // z-index: -1;
  // position: relative;
  grid-column: 1/13;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  & .header-background {
    grid-column: 4/13;
    margin-left: 2rem;
    width: 100%;
    height: 100%;
    grid-row: 1/1;
    & img {
      // height: 100%;
      min-height: 130px;
      max-height: 150px;

      width: 100%;
    }
  }
  & .home__logo {
    grid-column: 2/3;
  }
  & nav {
    grid-column: 5/13;
    grid-row: 1/1;
    height: 8rem;

    display: flex;
    justify-content: flex-end;

    & .home_nav {
      margin-top: 2rem;
      //    margin-left: .8rem;
      display: flex;
      align-items: center;

      & a {
        transition: color 0.1s linear;
        color: $color-ternary;
        font-weight: 600;
      }
      & a:not(:last-child) {
        margin-right: 2rem;
      }
      & a:hover {
        color: #fff;
      }

      & button {
        width: auto;
        border: none;
        border-radius: 4px;
        background-color: $color-ternary;
        padding-top: 5px;
        animation: breathe 2s infinite 0s linear;
        margin-right: 20px;
        transition: background-color 0.2s linear;
        & .icon {
          //   height: 35px;
          width: 35px;
        }
      }
      & button:hover {
        background-color: $color-ternary-hover;
      }
    }
  }
}
@media screen and (max-width: 315px) {
    .header {
      & nav {
        & .home_nav {
  
       
  
          & button {
              display: none;
          }
        }
      }
    }
  }
@media screen and (max-width: 460px) {
  .header {
    & nav {
      & .home_nav {

     
        & a:nth-child(3){
            display: none;
        }
    

        // & button {
        //     display: none;
        // }
      }
    }
  }
}
